---

export interface Props {
    period: string;
    title: string;
    description: string;
    technologies?: string[];
}

const { period, title, description, technologies = [] } = Astro.props;
---
<div class="card">
  <div class="card__left_column">
    <span class="period">{period}</span>
  </div>
  <div class="card__right_column">
    <p class="title">{title} </p><span class="period_mobile">{period}</span>
    <p class="description">{description}</p>
    <div class="tech_container">
      {technologies.map(tech => <span>{tech}</span>)}
    </div>
  </div>
</div>