---
import { Image } from "astro:assets";
import DiagonalArrowIcon from "../reshot-icon-arrow-diagonal-up-right.svg";

export interface Props {
    imageSrc: ImageMetadata;
    title: string;
    description: string;
    technologies?: string[];
}

const { imageSrc, title, description, technologies = [] } = Astro.props;
---

<div class="card">
    <div class="card__left_column">
        <div class="img_container">
            <Image class="project_image" src={imageSrc} alt={title} />
        </div>
    </div>
    <div class="card__right_column">
        <span class="title">{title}</span>
        <DiagonalArrowIcon class="icon"/>
        
        <p class="description">{description}</p>
        <div class="tech_container">
            {technologies.map((tech) => <span>{tech}</span>)}
        </div>
    </div>
</div>
