---
import MainLayout from "../layouts/MainLayout.astro";
import Profile from "../components/Profile.astro";
import About from "../components/About.astro";
import ExperienceCard from "../components/card/ExperienceCard.astro";
import SectionLink from "../components/SectionLink.astro";
import ProjectCard from "../components/card/ProjectCard.astro";
import Menu from "../components/Menu.astro";
import EducationCard from "../components/card/EducationCard.astro";
import SocialMedia from "../components/SocialMedia.astro";
import ProjectsLink from "../components/ProjectsLink.astro"

import imagenEjemplo from "../assets/course-card.webp";

---

<MainLayout>
    <Profile slot="leftbar" />
    <Menu slot="leftbar" />
    <SocialMedia slot="leftbar" />
    <div id="sobre-mi">
        <About />
    </div>

    <div id="experiencia">
        <ExperienceCard
            period="2025 ━ ACTUALIDAD"
            title="Desarrollador de Software · Homolocar"
            description="He desarrollado y mantenido una herramienta de automatización de procesos internos de la empresa. Gracias a esto he conseguido reducir la carga de trabajo de la plantilla significativamente."
            technologies={[
                "Python",
                "PostgreSQL",
                "CI/CD",
                "Ruff",
                "uv",
                "Git y GitHub",
            ]}
        />

        <ExperienceCard
            period="2024 ━ 2025"
            title="Desarrollador Web · Freelance"
            description="Diseñé y desarrollé un sitio web para un cliente del sector del comercio textil. Implementé el sistema de pagos integrado con Stripe y configuré el alojamiento con Hostinger."
            technologies={["Wordpress", "CSS", "Hostinger", "CMS"]}
        />

        <ExperienceCard
            period="Enero 2024 ━ Julio 2024"
            title="Desarrollador de Software"
            description="Trabajé en un equipo para desarrollar una solución de procesamiento de imágenes mediante un OCR. Diseñé un paquete en Python utilizando TesseractOCR y OpenCV para la extracción de datos a formato JSON."
            technologies={[
                "Python",
                "OpenCV",
                "TesseractOCR",
                "Git y Github",
                "Trello",
            ]}
        />
    </div>

    <SectionLink hrefLink="#" text="Ver CV completo"/>

    <div id="proyectos">
        <ProjectCard
            imageSrc={imagenEjemplo}
            title="Mi proyecto"
            description="Descripcion super breve de un proyecto desarrollado para hacer una cosa y otra y aquella. Aprendi a utilizar esta tecnologia y la otra."
            technologies={["Astro", "TypeScript", "CSS"]}
        />
        <ProjectCard
            imageSrc={imagenEjemplo}
            title="Proyecto 22"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            technologies={[
                "Python",
                "Django",
                "FastAPI",
                "HTML",
                "Docker",
                "Git",
                "GitHub",
            ]}
        />
        <ProjectCard
            imageSrc={imagenEjemplo}
            title="Mi proyecto"
            description="Descripcion super breve de un proyecto desarrollado para hacer una cosa y otra y aquella. Aprendi a utilizar esta tecnologia y la otra."
            technologies={["Astro", "TypeScript", "CSS"]}
        />
        <ProjectCard
            imageSrc={imagenEjemplo}
            title="Proyecto 22"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            technologies={[
                "Python",
                "Django",
                "FastAPI",
                "HTML",
                "Docker",
                "Git",
                "GitHub",
            ]}
        />
        <ProjectCard
            imageSrc={imagenEjemplo}
            title="Mi proyecto"
            description="Descripcion super breve de un proyecto desarrollado para hacer una cosa y otra y aquella. Aprendi a utilizar esta tecnologia y la otra."
            technologies={["Astro", "TypeScript", "CSS"]}
        />
        <ProjectCard
            imageSrc={imagenEjemplo}
            title="Proyecto 22"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            technologies={[
                "Python",
                "Django",
                "FastAPI",
                "HTML",
                "Docker",
                "Git",
                "GitHub",
            ]}
        />
        <ProjectCard
            imageSrc={imagenEjemplo}
            title="Mi proyecto"
            description="Descripcion super breve de un proyecto desarrollado para hacer una cosa y otra y aquella. Aprendi a utilizar esta tecnologia y la otra."
            technologies={["Astro", "TypeScript", "CSS"]}
        />
        <ProjectCard
            imageSrc={imagenEjemplo}
            title="Proyecto 22"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            technologies={[
                "Python",
                "Django",
                "FastAPI",
                "HTML",
                "Docker",
                "Git",
                "GitHub",
            ]}
        />
    </div>

    <ProjectsLink hrefLink="#" text="Ver todos mis proyectos" />

    <div id="estudios">
        <a href="https://santamaria-artesano.org/" target="_blank">
            <EducationCard
                period="2024 ━ 2026"
                title="Grado Superior en Desarrollo de Aplicaciones Multiplataforma"
                description="Santa María la Nueva y San José Artesano"
            />
        </a>
        <EducationCard
            period="2022-2023"
            title="Fundamentos de la gestión de proyectos"
            description="Google Fundae Scholarships"
        />
        <EducationCard
            period="2022-2023"
            title="Data Analysis"
            description="Google Fundae Scholarships"
        />
        <EducationCard
            period="2022-2023"
            title="IT Automation with Python"
            description="Google Fundae Scholarships"
        />
        <EducationCard
            period="2022-2023"
            title="IT Support"
            description="Google Fundae Scholarships"
        />
        <EducationCard
            period="2022-2023"
            title="UX Design"
            description="Google Fundae Scholarships"
        />
        <EducationCard
            period="2016 ━ 2017"
            title="Grado Medio en Sistemas Microinformáticos y Redes"
            description="Juan de Colonia"
        />
    </div>
</MainLayout>
